services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: nrh_app
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
    depends_on:
      - db
      - memcached
      - rabbitmq
    environment:
      PHP_MEMORY_LIMIT: 512M

  nginx:
    image: nginx:1.27-alpine
    container_name: nrh_nginx
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app

  db:
    image: postgres:17-alpine
    container_name: nrh_db
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "54320:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  memcached:
    image: memcached:1.6-alpine
    container_name: nrh_memcached
    ports:
      - "11211:11211"

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: nrh_rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}

volumes:
  db_data:
